@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic");

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;

  padding: 0;

  text-transform: uppercase;

  color: #000;
  background-color: #fff;
  box-shadow: 0 2px 4px 2px #dbdbdb;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/*Правила для навигации в хедере*/

.navigation {
  position: relative;

  padding: 0 6%;
}

.header-logo {
  position: absolute;
  z-index: 1;
  left: 50%;

  margin-left: -69px;
}

.navigation-list {
  line-height: 26px;

  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: flex-start;
}

.navigation-list li {
  width: 20%;
  padding: 14px 0 15px 0;

  flex-grow: 1;
}

.navigation-list a {
  color: #000;
}

.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:active,
.navigation-list a:focus {
  color: #b2b2b2;
}

.navigation-list .active-link {
  color: #766357;
}

.navigation-list .right-nav {
  text-align: right;
}

.left-nav:nth-child(2) {
  margin-right: 8%;
}

/*---------------------------*/

/*Отрисовка баннера на главной*/

.banner {
  min-height: 508px;
  margin-bottom: 60px;

  background: url(../img/banner-background-mask.png), #7895ae url(../img/banner-background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, 50% 21%;
  background-size: 100% 57px, auto auto;
}

.banner img {
  display: block;

  margin: 0 auto;
  padding-top: 76px;
}

/*---------------------------*/

.short-introduction {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 50px;

  text-align: center;
}

.short-introduction .feature-title {
  margin: 0;
  margin-bottom: 27px;
}

.short-introduction .feature-clarification {
  width: 287px;
}

/*Главные информационные блоки на странице*/

.advantage {
  display: flex;

  margin-bottom: 60px;
}

.small-features + .advantage {
  margin-bottom: 0;
}

.advantage-title,
.feature-title {
  font-size: 21px;
}

.feature-clarification,
.advantage-clarification,
.advantage-description span,
.feature-item span {
  font-weight: normal;
}

.advantage-description .advantage-title,
.advantage-description span,
.advantage-description .advantage-clarification {
  margin: 0 auto;
}

.advantage-description {
  width: 33.333333%;
  padding-top: 48px;
  padding-bottom: 58px;

  text-align: center;

  color: #fff;
  background-color: #81b3d2;
}

.advantage-description .advantage-title {
  margin-bottom: 25px;
}

.advantage-title {
  max-width: 151px;
}

.advantage-title + span {
  display: block;

  margin-bottom: 21px;
}

.advantage-clarification {
  padding: 0 49px;
}

.advantage-description .advantage-title,
.feature-item .feature-title,
.advantage-description span,
.advantage-description .advantage-clarification,
.feature-item .feature-clarification {
  line-height: 21px;
}

.advantage-image {
  position: relative;

  overflow: hidden;

  width: 66.666666%;
}

.advantage-image img {
  position: absolute;
  top: -30%;
  bottom: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}

.small-features {
  display: flex;

  margin: 0;
  margin-bottom: 81px;
  padding: 0;

  list-style: none;
}

.feature-item {
  width: 33.333333%;

  text-align: center;
}

.feature-title {
  margin-top: 20px;
  margin-bottom: 24px;
}

.feature-clarification {
  margin: 0 auto;
}

.feature-item .feature-clarification {
  max-width: 287px;
}

.svg-type {
  position: relative;
}

.svg-type:nth-child(1) {
  padding-top: 81px;
}

.svg-type:nth-child(1)::before {
  position: absolute;
  top: 0;
  left: 50%;

  width: 75px;
  height: 72px;
  margin-left: -39px;

  content: "";

  background: url(../img/lodging-icon.svg);
  background-repeat: no-repeat;
}

.svg-type:nth-child(2) {
  padding-top: 81px;
}
.svg-type:nth-child(2)::before {
  position: absolute;
  top: 1px;
  left: 50%;

  width: 74px;
  height: 70px;
  margin-left: -39px;

  content: "";

  background: url(../img/food-icon.svg);
  background-repeat: no-repeat;
}

.svg-type:nth-child(3) {
  padding-top: 81px;
}

.svg-type:nth-child(3)::before {
  position: absolute;
  top: -4px;
  left: 50%;

  width: 64px;
  height: 76px;
  margin-left: -33px;

  content: "";

  background: url(../img/souvenirs-icon.svg);
  background-repeat: no-repeat;
}

.gray-background {
  margin-bottom: 50px;
  padding: 47px 0 59px 0;

  background: #eee;
}

.gray-background .feature-title {
  width: 120px;
  margin: 0 auto;
  margin-bottom: 21px;
}

.gray-background span {
  display: block;

  margin-bottom: 19px;
}

.gray-background .feature-clarification {
  max-width: 279px;
  padding: 0 5px;
}

.short-introduction .feature-clarification {
  width: auto;
}

/*---------------------------*/

/*Пара предложений и кнопка вызова формы*/

.hotel-offers {
  position: relative;
  z-index: 1;
}

.hotel-offers-title {
  font-size: 30px;
  line-height: 36px;

  margin: 0;
  margin-bottom: 24px;

  text-align: center;
}

.hotel-offers-clarification {
  font-weight: normal;
  line-height: 24px;

  margin: 0;
  margin-bottom: 47px;

  text-align: center;
}

.btn {
  font: inherit;
  font-size: 21px;

  cursor: pointer;
  text-transform: uppercase;

  color: #fff;
  border: none;
}

.form-call {
  position: relative;
  z-index: 1;

  display: block;

  width: 568px;
  margin: 0 auto;
  padding: 30px 0;

  background: #766357;
}

.form-call:hover,
.form-call:focus {
  cursor: pointer;

  background: #604e43;
}

.form-call:active {
  color: #857871;
  background: #503e33;
}

/*---------------------------*/

/*Форма*/

.search-form {
  position: absolute;
  z-index: -1;
  top: 241px;
  left: 50%;

  display: flex;

  width: 458px;
  margin-left: -284px;
  padding: 55px 55px;

  background: #fff;

  justify-content: space-between;
  flex-wrap: wrap;
}

.search-form label {
  margin-right: auto;
}

.form-hide {
  display: none;

  transform: scaleY(0);
}

.form-animation {
  transition-duration: 300ms;
  transform-origin: 0 0 0;
  animation: bounce 300ms;
}

.form-error {
  animation: shake .6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-100px) scaleY(1);
  }

  80% {
    transform: translateY(0) scaleY(1);
  }

  100% {
    transform: translateY(0px) scaleY(1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.search-form input {
  font: inherit;

  box-sizing: border-box;
  width: 314px;
  min-height: 38px;

  text-transform: uppercase;

  border: 2px solid #f2f2f2;
  background: #f2f2f2;
}

label + .arrival-date,
label + .departure-date {
  padding: 0 0 0 17px;
}

.minus-button + input {
  padding: 0 35px;
}

.search-form input:hover {
  border-color: #ebebeb;
  outline: none;
  background: #ebebeb;
}

.search-form input:focus {
  border-color: #e5e5e5;
  outline: none;
  background: inherit;
}

.search-item {
  position: relative;

  display: flex;

  width: 100%;
  margin: 0;
  margin-bottom: 29px;

  align-items: center;
}

.wrapper {
  display: flex;

  width: 100%;

  justify-content: space-between;
}

.search-form .wrapper {
  margin-top: 2px;
  margin-bottom: 25px;
}

.wrapper .search-item:first-child {
  width: 227px;
}

.wrapper .search-item:last-child {
  width: 180px;
}

.wrapper input {
  width: 38px;
  padding: 0;

  text-align: center;
}

.calendar-button,
.minus-button,
.plus-button {
  position: relative;

  box-sizing: border-box;
  width: 38px;
  height: 38px;

  cursor: pointer;

  border: 2px solid #f2f2f2;
  background: #f2f2f2;
}

.calendar-button svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  fill: #cacaca;
}

.calendar-button:hover path,
.calendar-button:focus path {
  fill: #000;
}

.calendar-button:active path {
  fill: #81b3d2;
}

.search-submit {
  width: 458px;
  padding: 16px 0;

  background: #81b3d2;
}

.search-submit:hover,
.search-submit:focus {
  background: #669ec0;
}

.search-submit:active {
  color: #88b6d1;
  background: #5496bd;
}

.minus-button::before,
.plus-button::before,
.plus-button::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  content: "";

  background: #a9a9a9;
}

.minus-button::before {
  width: 12px;
  height: 3px;
}

.plus-button::before {
  width: 11px;
  height: 3px;
}

.plus-button::after {
  width: 3px;
  height: 11px;
}

.minus-button:hover::before,
.plus-button:hover::before,
.plus-button:hover::after,
.minus-button:focus::before,
.plus-button:focus::before,
.plus-button:focus::after {
  background: #000;
}

.minus-button:active::before,
.plus-button:active::before,
.plus-button:active::after {
  background: #81b3d2;
}

/*---------------------------*/

/*Карта*/

.map-container {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 593px;
}

.map-container img {
  position: absolute;

  min-width: 100%;
  min-height: 100%;
}

/*---------------------------*/

/*Футер*/

.footer {
  display: flex;

  padding: 21px 0 23px 0;

  align-items: center;
}

.main-footer {
  position: relative;

  margin-top: -120px;

  background: rgba(255, 255, 255, .8);
}

.hashtag {
  font-size: 21px;

  width: 33.333333%;

  text-align: center;
}

.social-contacts {
  display: flex;

  width: 33.333333%;
  padding: 0;

  list-style: none;

  justify-content: center;
}

.social-contacts li {
  position: relative;

  width: 46px;
  margin-right: 6px;
}

.social-contacts li:last-child {
  margin-right: 0;
}

.social-link {
  position: relative;

  display: block;

  height: 48px;

  background: #81b3d2;
}

li:nth-child(1) .social-link::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 17px;
  height: 15px;
  margin-top: -7px;
  margin-left: -8px;

  content: "";

  background-image: url(../img/twitter-icon.svg);
}

li:nth-child(2) .social-link::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 22px;
  margin-top: -11px;
  margin-left: -6px;

  content: "";

  background-image: url(../img/fb-icon.svg);
}

li:nth-child(3) .social-link::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20px;
  height: 16px;
  margin-top: -8px;
  margin-left: -10px;

  content: "";

  background-image: url(../img/yt-icon.svg);
}

.social-link:hover,
.social-link:focus {
  color: #000;
  background-color: #669ec0;
}

.social-link:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-link:hover::before,
.social-link:focus::before {
  opacity: .5;
}

.copyright {
  display: flex;

  width: 33.333333%;

  justify-content: center;
}

.copyright span {
  font-weight: normal;

  margin-right: 8px;

  align-self: center;
}

.copyright-span {
  align-self: center;
}

.copyright-link {
  max-height: 41px;
}

.copyright-link path:hover,
.copyright-link path:focus {
  fill: #81b3d2;
}

.copyright-link path:active {
  fill: #bdbbbc;
}

/*---------------------------*/

/*Стилизация уникальных элементов второй страницы*/
/*Форма*/

.hotel-search {
  display: flex;

  padding: 27px 6% 15px 6%;

  color: #fff;
  background: #6f8395 url(../img/banner-background-filtered.jpg) 50% 17% no-repeat;

  justify-content: space-between;
}

.hotels .feature-item {
  display: flex;

  width: auto;
  margin-top: 24px;

  text-align: left;
}

.features-selection,
.price-selection {
  margin: 0;
  padding: 0;

  border: none;
}

.features-selection {
  flex-grow: 3;
}

.features-selection:nth-child(1) {
  flex-grow: 1;
}

.features-selection legend {
  font-size: 16px;
  line-height: 21px;
}

.feature-item label,
.price-from-upto label {
  font-weight: normal;
  line-height: 21px;
}

.feature-item input[type="checkbox"] {
  position: absolute;

  opacity: 0;
}

.feature-item label {
  position: relative;

  display: flex;

  padding: 0;

  cursor: pointer;
}

.feature-item label::before {
  display: inline-block;

  width: 27px;
  height: 23px;
  margin-right: 12px;

  content: "";
  vertical-align: top;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

input[type="checkbox"]:disabled + label::before {
  opacity: .5;
}

input[type="checkbox"]:focus + label::before {
  box-shadow: -2px 5px 7px -3px white;
}

.price-from-upto {
  font-size: 0;

  position: relative;

  border: 2px solid #fff;
  border-radius: 2px;
}

.price-selection legend {
  font-size: 16px;
  line-height: 21px;

  margin-bottom: 9px;
}

.price-from-upto::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  content: "";
  transform: translate(-50%, -50%);

  background: #fff;
}

.price-from-upto input {
  font: inherit;
  font-weight: normal;

  box-sizing: border-box;
  width: 50px;

  color: #fff;
  border: 0;
  background-color: transparent;
}

.price-from-upto label {
  font-size: 14px;
  line-height: 21px;

  display: inline-block;

  padding: 5px 0;

  cursor: pointer;
  vertical-align: top;
}

.price-from-upto .label-from,
.price-from-upto .label-upto {
  width: 100px;
  padding-left: 65px;
}

.price-from-upto .label-upto {
  padding-left: 50px;
}

.cost-range {
  position: relative;

  margin-top: 20px;
  margin-bottom: 32px;
}

.cost-range .scale {
  height: 2px;

  background: rgba(255, 255, 255, .3);
}

.cost-range .bar {
  width: 80%;
  height: 2px;

  background: #fff;
}

.slider-head {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-min {
  left: 0;
}

.range-max {
  left: 80%;
}

.slider-head:hover {
  background: #1c4f80;
}

.hotel-search-submit {
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;

  display: block;
  text-align: center;

  width: 137px;
  margin-right: 97px;
  margin-left: auto;
  padding: 6px 0;
  width: 133px;

  text-transform: uppercase;

  border: 2px solid #fff;
  background-color: transparent;
}

.hotel-search-submit:hover {
  cursor: pointer;

  color: #000;
  background: #fff;
}

/*---------------------------*/

/*Секция сортировки отелей*/

.sorting-controls {
  display: flex;

  padding: 30px 6%;

  align-items: center;
}

.hotels-found {
  font-size: 21px;

  margin: 0;
  margin-right: 48px;
}

.sorting-line {
  font-size: 12px;
  line-height: 18px;

  margin: 0;
  margin-right: 39px;
}

.hotel-sorting {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  flex-grow: 1;
}

.hotel-sorting .left-side {
  margin-right: 33px;
}

.hotel-sorting .right-side {
  margin-left: 13px;
}

.sorting-button {
  font: inherit;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;

  padding: 0;

  cursor: pointer;
  text-transform: uppercase;

  color: #b2b2b2;
  border: 0;
  border-bottom: 1px dotted #81b3d2;
  background: transparent;
}

.sorting-button > span { /*Патч для Firefox и IE11, дабы надпись на кнопке не скакала при нажатии*/
  position: relative;
}

.sorting-button:hover,
.sorting-button:focus {
  color: #92bdd8;
  outline: 0;
}

.sorting-button:active {
  color: #000;
  border: 0;
}

.hotel-sorting .active {
  color: #92bdd8;
  border: 0;
}

.sorting-button.active:hover,
.sorting-button.active:active {
  color: #92bdd8;
  border: 0;
}

.hotel-sorting li:nth-child(4) {
  margin-left: auto;
}

.button-up,
.button-down {
  border: 0;
}

.button-up path,
.button-down path {
  fill: #cacaca;
}

.active path {
  fill: #81b3d2;
}

.button-up:hover path,
.button-down:hover path,
.button-up:focus path,
.button-down:focus path {
  fill: #231f20;
}

.button-up:active path,
.button-down:active path {
  fill: #81b3d2;
}

.button-up.active:hover path,
.button-up.active:active path,
.button-down.active:hover path,
.button-down.active:active path,
.button-up.active:focus path,
.button-down.active:focus path {
  fill: #81b3d2;
}

/*---------------------------*/

/*Список отелей*/

.hotel-item {
  display: flex;

  padding: 30px 6% 30px 6%;

  border-top: 1px solid #e5e5e5;

  justify-content: flex-start;
  align-items: flex-start;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
  margin-right: 30px;
}

.hotel-photo-link {
  display: block;

  height: 90px;
}

.hotel-description {
  margin-top: -6px;
}

.hotel-name {
  font-size: 21px;

  margin: 0;
  margin-bottom: 8px;
}

.hotel-type-cost {
  font-weight: normal;
  line-height: 21px;

  margin: 0;
  margin-bottom: 14px;
}

.hotel-type {
  display: inline-block;

  width: 116px;

  vertical-align: top;
}

.hotel-link {
  color: #000;
}

.hotel-link:hover,
.hotel-link:focus {
  color: #81b3d2;
}

.hotel-link:active {
  color: #b2b2b2;
}

.more-info,
.reserve {
  font-size: 14px;
  line-height: 21px;

  padding: 4px 17px 5px 17px;
}

.more-info {
  margin-right: 2px;

  background: #81b3d2;
}

.reserve {
  background: #766357;
}

.reserve:hover,
.reserve:focus {
  background: #604e43;
}

.reserve:active {
  color: #857871;
  background: #503e33;
}

.more-info:hover,
.more-info:focus {
  background: #669ec0;
}

.more-info:active {
  color: #88b6d1;
  background: #5496bd;
}

.hotel-rating {
  margin-left: auto;
}

.hotel-rating span {
  font-weight: normal;
  line-height: 21px;

  padding: 3px 12px 3px 16px;

  color: #666;
  background: #f2f2f2;
}

.star-rating {
  display: flex;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;

  justify-content: flex-end;
}

.star-rating li {
  width: 18px;
  height: 17px;
  margin-top: -2px;
  margin-bottom: 17px;
  margin-left: 6px;

  background: url(../img/star-icon.svg);
}