body {
  font-family: 'PT Sans', Arial sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;

  padding: 0;

  text-transform: uppercase;

  color: #000;
  background-color: #fff;
  box-shadow: 0 2px 4px 2px #dbdbdb;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/*Правила для навигации в хедере*/

.navigation {
  position: relative;
}

.header-logo {
  position: absolute;
  z-index: 1;
  left: 45%;

  margin: auto;
  margin-left: -.8%;
}

.navigation-list {
  line-height: 26px;

  display: flex;

  margin: 0;
  padding: 0 6%;

  list-style: none;

  justify-content: flex-start;
}

.navigation-list li {
  width: 20%;
  padding: 15px 0;
}

.navigation-list a {
  color: #000;
}

.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:active,
.navigation-list a:focus {
  color: #b2b2b2;
}

.navigation-list .active-link {
  color: #766357;
}

.navigation-list .right-nav {
  text-align: right;
}

.navigation-list .right-nav:nth-child(3) {
  margin-left: auto;
}

/*---------------------------*/

/*Отрисовка баннера на главной*/

.banner {
  min-height: 508px;
  margin-bottom: 58px;

  background: url(../img/banner-background-mask.png), url(../img/banner-background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, 50% 22%;
}

.banner img {
  display: block;

  margin: 0 auto;
  padding-top: 75px;
}

/*---------------------------*/

.short-introduction {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 50px;

  text-align: center;
}

.short-introduction .feature-title {
  padding-bottom: 12px;
}

/*Главные информационные блоки на странице*/

.advantage {
  display: flex;
}

.advantage-title,
.feature-title {
  font-size: 21px;
}

.feature-clarification,
.advantage-clarification,
.advantage-description span,
.feature-item span {
  font-weight: normal;
}

.advantage-description {
  width: 33.333333%;
  padding-top: 47px;
  padding-bottom: 60px;

  text-align: center;

  color: #fff;
  background-color: #81b3d2;
}

.advantage-title {
  padding-bottom: 23px;
}

.advantage-clarification {
  width: 305px;
  padding-top: 23px;
}

.advantage-description .advantage-title,
.advantage-description span,
.advantage-description .advantage-clarification {
  margin: 0 auto;
}

.advantage-description .advantage-title,
.feature-item .feature-title,
.advantage-description span,
.advantage-description .advantage-clarification,
.feature-item .feature-clarification {
  line-height: 21px;
}

.advantage-image {
  position: relative;

  overflow: hidden;

  width: 66.666666%;
}

.advantage-image img {
  position: absolute;
  top: -30%;
  bottom: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}

.small-features {
  display: flex;

  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 83px;

  list-style: none;
}

.feature-item {
  width: 33.333333%;

  text-align: center;
}

.feature-clarification {
  width: 287px;
  margin: 0 auto;
}

.svg-type:nth-child(1)::before {
  content: url(../img/lodging-icon.svg);
}

.svg-type:nth-child(2)::before {
  content: url(../img/food-icon.svg);
}

.svg-type:nth-child(3)::before {
  content: url(../img/souvenirs-icon.svg);
}

.gray-background {
  padding: 0;
  padding-top: 26px;
  padding-bottom: 60px;

  background: #eee;
}

.gray-background .feature-clarification {
  width: 279px;
  padding-top: 18px;
}

.short-introduction .feature-clarification {
  width: auto;
}

/*---------------------------*/

/*Пара предложений и кнопка вызова формы*/

.hotel-offers {
  position: relative;
}

.hotel-offers-title {
  font-size: 30px;
  line-height: 36px;

  padding-top: 19px;

  text-align: center;
}

.hotel-offers-clarification {
  font-weight: normal;
  line-height: 24px;

  margin-top: -6px;
  padding-bottom: 32px;

  text-align: center;
}

.btn {
  font: inherit;
  font-size: 21px;

  text-transform: uppercase;

  color: #fff;
  border: none;
}

.form-call {
  display: block;

  width: 568px;
  margin: 0 auto;
  padding: 30px 0;

  background: #766357;
}

.form-call:hover,
.form-call:focus {
  background: #604e43;
}

.form-call:active {
  color: #857871;
  background: #503e33;
}

/*---------------------------*/

/*Форма*/

.search-form {
  position: absolute;
  z-index: 1;
  top: 259px;
  left: 50%;

  display: flex;

  width: 458px;
  margin-left: -284px;
  padding: 40px 55px 55px 55px;

  background: #fff;

  flex-wrap: wrap;
  justify-content: center;
}

.search-form input {
  font: inherit;

  box-sizing: border-box;
  width: 346px;
  min-height: 38px;

  border: 2px solid #f2f2f2;
  background: #f2f2f2;
}

label + .arrival-date,
label + .departure-date {
  padding: 0 28px 0 13px;
}

.minus-button + input {
  padding: 0 35px;
}

.search-form input:hover {
  border-color: #ebebeb;
  outline: none;
  background: #ebebeb;
}

.search-form input:focus {
  border-color: #e5e5e5;
  outline: none;
  background: inherit;
}

.search-item {
  position: relative;

  display: flex;

  -ms-align-items: center;
      align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.calendar-button {
  position: absolute;
  top: 8px;
  right: 9px;

  width: 21px;
  height: 22px;

  border: 0;
  background: transparent;
}

.calendar-button svg {
  position: absolute;
  top: 0;
  left: 0;

  fill: #cacaca;
}

.calendar-button:hover path,
.calendar-button:focus path {
  fill: #000;
}

.calendar-button:active path {
  fill: #81b3d2;
}

.search-submit {
  width: 458px;
  margin-top: 40px;
  padding: 16px 0;

  background: #81b3d2;
}

.search-submit:hover,
.search-submit:focus {
  background: #669ec0;
}

.search-submit:active {
  color: #88b6d1;
  background: #5496bd;
}

.minus-button,
.plus-button {
  position: absolute;

  color: #a9a9a9;
  background-color: transparent;
}

.minus-button:nth-of-type(1) {
  top: 5px;
  left: 116px;
}

.plus-button:nth-of-type(2) {
  top: 5px;
  left: 197px;
}

.minus-button:nth-of-type(3) {
  top: 5px;
  left: 349px;
}

.plus-button:nth-of-type(4) {
  top: 5px;
  left: 429px;
}

.minus-button:hover,
.plus-button:hover,
.minus-button:focus,
.plus-button:focus {
  color: #000;
}

.minus-button:active,
.plus-button:active {
  color: #81b3d2;
}

#kids-input,
#adults-input {
  width: 114px;

  text-align: center;
}

/*---------------------------*/

/*Карта*/

.map-container {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 473px;
}

.map-container img {
  position: absolute;

  min-width: 100%;
  min-height: 100%;
}

/*---------------------------*/

/*Футер*/

.footer {
  display: flex;

  padding: 21px 0 23px 0;

  -ms-align-items: center;
      align-items: center;
}


.hashtag {
  font-size: 21px;

  width: 33.333333%;

  text-align: center;
}


.social-contacts {
  display: flex;

  width: 33.333333%;
  padding: 0;

  list-style: none;

  justify-content: center;
}


.social-contacts li {
  position: relative;

  width: 47px;
  margin-right: 6px;
}


.social-contacts li:last-child {
  margin-right: 0;
}

.social-link {
  position: relative;

  display: block;

  height: 48px;

  background: #81b3d2;
}

li:nth-child(1) .social-link::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 17px;
  height: 15px;
  margin-top: -7px;
  margin-left: -8px;

  content: '';

  background-image: url(../img/twitter-icon.svg);
}

li:nth-child(2) .social-link::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 22px;
  margin-top: -11px;
  margin-left: -6px;

  content: '';

  background-image: url(../img/fb-icon.svg);
}

li:nth-child(3) .social-link::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20px;
  height: 16px;
  margin-top: -8px;
  margin-left: -10px;

  content: '';

  background-image: url(../img/yt-icon.svg);
}

.social-link:hover,
.social-link:focus {
  color: #000;
  background-color: #669ec0;
}

.social-link:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-link:hover::before,
.social-link:focus::before {
  opacity: .5;
}

.copyright {
  display: flex;

  width: 33.333333%;

  justify-content: center;
}


.copyright span {
  font-weight: normal;

  margin-right: 8px;

  -ms-align-self: center;
      align-self: center;
}


.copyright-span {
  align-self: center;
}

.copyright-link {
  max-height: 41px;
}

.copyright-link path:hover,
.copyright-link path:focus {
  fill: #81b3d2;
}

.copyright-link path:active {
  fill: #bdbbbc;
}

/*---------------------------*/

/*Стилизация уникальных элементов второй страницы*/
/*Форма*/

.hotel-search {
  display: flex;

  padding: 30px 6%;

  color: #fff;
  background: #6f8395 url(../img/banner-background-filtered.jpg) 50% 20% no-repeat;

  justify-content: space-between;
}

.hotels .feature-item {
  display: flex;

  margin-top: 25px;

  text-align: left;
}

.features-selection,
.price-selection {
  margin: 0;
  padding: 0;

  border: none;
}

.features-selection {
  flex-grow: 3;
}

.features-selection:nth-child(1) {
  flex-grow: 1;
}

.features-selection legend {
  font-size: 16px;
  line-height: 21px;
}

.feature-item label,
.price-from-upto label {
  font-weight: normal;
  line-height: 21px;
}

.feature-item input[type='checkbox'] {
  position: absolute;

  opacity: 0;
}

.feature-item label {
  position: relative;

  display: inherit;

  padding: 0;

  cursor: pointer;
}

.feature-item label::before {
  display: inline-block;

  width: 27px;
  height: 23px;
  margin-right: 13px;

  content: '';

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

input[type='checkbox']:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

input[type='checkbox']:disabled + label::before {
  opacity: .5;
}


.price-from-upto {
  font-size: 0;

  position: relative;

  border: 2px solid #fff;
  border-radius: 2px;
}

.price-selection legend {
  margin-bottom: 7px;
}

.price-from-upto::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  content: '';
  transform: translate(-50%, -50%);

  background: #fff;
}

.price-from-upto input {
  font: inherit;
  font-weight: normal;

  box-sizing: border-box;
  width: 50px;

  color: #fff;
  border: 0;
  background-color: transparent;
}

.price-from-upto label {
  font-size: 14px;
  line-height: 21px;

  display: inline-block;

  padding: 5px 0;

  cursor: pointer;
}

.price-from-upto .label-from,
.price-from-upto .label-upto {
  width: 90px;
  padding-left: 65px;
}

.cost-range {
  position: relative;

  margin-top: 20px;
  margin-bottom: 32px;
}

.cost-range .scale {
  height: 2px;

  background: rgba(255, 255, 255, .3);
}

.cost-range .bar {
  width: 80%;
  height: 2px;

  background: #fff;
}

.slider-head {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-min {
  left: 0;
}

.range-max {
  left: 80%;
}

.slider-head:hover {
  background: #1c4f80;
}

.hotel-search-submit {
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;

  display: block;

  width: 137px;
  margin: 0 auto;
  padding: 6px 0;

  text-transform: uppercase;

  border: 2px solid #fff;
  background-color: transparent;
}

.hotel-search-submit:hover {
  cursor: pointer;

  color: #000;
  background: #fff;
}

/*---------------------------*/

/*Секция сортировки отелей*/

.sorting-controls {
  display: flex;

  padding: 0 6%;

  -ms-align-items: baseline;
      align-items: baseline;
}

.hotels-found {
  font-size: 21px;
}

.sorting-line {
  font-size: 12px;
  line-height: 18px;
}

.hotel-sorting {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  flex-grow: 1;
}

.hotels-found {
  margin-right: 50px;
}

.sorting-line {
  margin-right: 36px;
}

.hotel-sorting .left-side {
  margin-right: 20px;
}

.sorting-button {
  font: inherit;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;

  text-transform: uppercase;

  color: #b2b2b2;
  border: 0;
  border-bottom: 1px dotted #81b3d2;
  background: transparent;
}

.sorting-button:hover,
.sorting-button:focus {
  color: #92bdd8;
  outline: 0;
}

.sorting-button:active {
  color: #000;
  border: 0;
}

.hotel-sorting .active {
  color: #92bdd8;
  border: 0;
}

.sorting-button.active:hover,
.sorting-button.active:active {
  color: #92bdd8;
  border: 0;
}

.hotel-sorting li:nth-child(4) {
  margin-left: auto;
}

.button-up,
.button-down {
  border: 0;
}

.button-up path,
.button-down path {
  fill: #cacaca;
}

.active path {
  fill: #81b3d2;
}

.button-up:hover path,
.button-down:hover path,
.button-up:focus path,
.button-down:focus path {
  fill: #231f20;
}

.button-up:active path,
.button-down:active path {
  fill: #81b3d2;
}

.button-up.active:hover path,
.button-up.active:active path,
.button-down.active:hover path,
.button-down.active:active path,
.button-up.active:focus path,
.button-down.active:focus path {
  fill: #81b3d2;
}

/*---------------------------*/

/*Список отелей*/

.hotel-item {
  display: flex;

  padding: 30px 6% 22px 6%;

  border-top: 1px solid #e5e5e5;

  justify-content: flex-start;
  align-items: flex-start;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
  margin-right: 30px;
}

.hotel-name {
  font-size: 21px;

  margin: 0;
  margin-bottom: 6px;
}

.hotel-cost {
  font-weight: normal;
  line-height: 21px;

  margin: 0;
  margin-bottom: 13px;
}

.hotel-link {
  color: #000;
}

.hotel-link:hover,
.hotel-link:focus {
  color: #81b3d2;
}

.hotel-link:active {
  color: #b2b2b2;
}

.more-info,
.reserve {
  font-size: 14px;
  line-height: 21px;

  padding: 3px 17px;
}

.more-info {
  background: #81b3d2;
}

.reserve {
  background: #766357;
}

.reserve:hover,
.reserve:focus {
  background: #604e43;
}

.reserve:active {
  color: #857871;
  background: #503e33;
}

.more-info:hover,
.more-info:focus {
  background: #669ec0;
}

.more-info:active {
  color: #88b6d1;
  background: #5496bd;
}

.hotel-rating {
  margin-left: auto;
}

.hotel-rating span {
  font-weight: normal;
  line-height: 21px;

  padding: 3px 12px 3px 16px;

  color: #666;
  background: #f2f2f2;
}

.star-rating {
  display: flex;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;

  justify-content: flex-end;
}

.star-rating li {
  width: 18px;
  height: 17px;
  margin-bottom: 12px;
  margin-left: 5px;

  background: url(../img/star-icon.svg);
}
